<html>
  <head>
    <meta charset='utf-8' />
    <title>Change Password</title>
  </head>
  <body>
    <p>Dear {{name}},</p>
    <p>You have requested to change your password. To proceed, please follow
      these instructions:</p>
    <ol>
      <li>Copy the following token:</li>
      <p>{{token}}</p>
      <li>Open a client like Postman, and make a PATCH request to the following
        URL:</li>
      <p>{{url}}</p>
      <li>Include the following request body:</li>
      <p>{ "newPassword": "your_new_password_here", "token": "your_token" }</p>
      <li>Submit the request, and your password will be changed.</li>
    </ol>
    <p>Thank you for using our service.</p>
  </body>
</html>